
@media screen and (max-width: 800px) {
    .logoWrapper{
        padding-top:0%;
        margin-bottom:0%;
        width:100%;
        text-align: center;
         
    }
    .logo{
        /* background: linear-gradient(128deg, #d2dddd 18%, #72884C 40.96%, #5A5A5A 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Poppins', sans-serif;
        font-size: 3.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal; */
        width:100%;
    }
    .container{
        /* background-image: url("./images/woodboard.svg"); */
        margin-top:0px;
        width:100%;
        margin-right:20px;
        text-align: center;
        
    }
    .container .woodboard{
        margin-top: -30px;
        width:90%;
        display:inline-flex;
        z-index:-1;
    }
    .container .logo{
        margin-top:10px;
        width:60%;
        position:absolute;
        left:20%;
        top:25%;
        z-index: 1;
    }
    .container .linkWrapper1{
        /* padding-top:20rem; */
        left:40px;
        width: 285px;
        height: 266px;
        text-align: center;
        position:absolute;
        top:10rem;
        z-index:1;
        
    }
    .linkWrapper2{
        padding-top:20%;
        width:100%;
        text-align: center;
        position:absolute;


        
    }
    .linkWrapper{
        width: 20.375rem;
        height: 13.1875rem;
        padding-top:10%;
        
        text-align: center;
    }
    .link1{
        
        width:100%;
        /* border-radius: 1.8125rem; */
        /* background: #138EFF; */
        display:inline-flex;
    }
    .link2{
        width: 20.375rem;
        height: 13.1875rem;
        flex-shrink: 0;
        border-radius: 1.8125rem;
        background: #6C5438;
        display:inline-block;
    }
    .arrow{
        background-color: transparent;
        margin-top:27%;
        stroke-width: 5px;
        stroke: #FFF;
        width: 18%;
        height: auto;
        flex-shrink: 0;
    }
    .infoLink{
        width: 20.375rem;
        height: 6.125rem;
        flex-shrink: 0;
        border-radius: 1.8125rem;
        background: #32DAF1;
        display:inline-block;
        vertical-align: center;
    }
    .infoText{
        margin-top:1.19rem;
        
        color: #FFF;
        font-family: 'Poppins', sans-serif;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .innerWrapper{

        width:100%;
        text-align: center;
    }
    .fishWrapper{
        
        flex-shrink: 0;
    }
    .fishImage{
        margin-left:11.5rem;
        margin-right:2.62rem;
        width: 10.25rem;
        height: 20.8125rem;
        position:sticky;
        display:block;
        z-index: -1;
    }
    .alliImage{
        margin-top: -10rem;
        margin-left:-2rem;
        width: 15.375rem;
        height: 19.6875rem;
        flex-shrink: 0;
        float:left;
        display:block;
        z-index: -1;
    }
    .dogImage{
        margin-top: -18rem;
        margin-right:-5rem;
        width: 18.3125rem;
        height: 32.25rem;
        flex-shrink: 0;
        float:right; 
        display:block;
        z-index:10;
    }
    .buttonWrapper{
        padding-top:5%;
        width:100%;
        text-align: center;
        
    }
    .button{
        width: 20%;
        height: 20%;
        transform: rotate(90deg);
        flex-shrink: 0;
        fill: #000;
        display:inline-block;
        text-align: center;
        
        
    }
    .backbutton{
        width:100%;
        display:block;
        
    }
    .backarrow{
        transform: rotate(180deg);
        left:30%;
        bottom:30%;
        width: 40%;
        height: 40%;
        
        flex-shrink: 0;
        stroke-width: 3px;
        position:absolute;
        /* stroke: #030303; */
        /* position:absolute;  */
        
    }
    .gallery{
        margin-top:10px;
        width:100%;
        text-align: center;
    }
    .resultImage{
        width:90%;
    }
    

}

@media screen and (min-width: 800px) {
    .logoWrapper{
        padding-top:10%;
        width:100%;
        text-align: center;
    }

    .logo{
        width:20rem;
    }

    .container{
        width:100%;
        text-align: center;
        /* display:block; */
        justify-content: space-between;

    }

    .linkWrapper{
        float:right;
        padding-top:5%;
        width:40%;
        height:10rem;
        text-align: center;
        display:inline-flex;
    }
    .linkWrapper1{
        float:left;
        padding:5%;
        /* right:20%; */
        /* padding-top:10%; */
        width:40%;
        height:20rem;
        text-align: center;
        display:inline-flex;
        justify-content:center;
    }
    .linkWrapper2{
        float:right;
        padding:5%;
        /* left: 20%; */
        /* padding-top:10%; */
        width:40%;
        height:20rem;
        text-align: center;
        vertical-align: center;
        display:inline-flex;
        justify-content:center;
    }
    .link1{
        width: 80%;
        height: 80%;
        /* width: 20.375rem;
        height: 13.1875rem; */
        flex-shrink: 0;
        border-radius: 1.8125rem;
        background: #138EFF;
        display:inline-block;
    }
    .link2{
        width: 80%;
        height: 80%;
        /* width: 20.375rem;
        height: 13.1875rem; */
        flex-shrink: 0;
        border-radius: 1.8125rem;
        background: #6C5438;
        display:inline-block;
    }
    .arrow{
        background-color: transparent;
        /* transform: translateY(-50%); */
        margin-top:110px;
        stroke-width: 5px;
        stroke: #FFF;
        width: 18%;
        height: auto;
        flex-shrink: 0;
    }
    .infoLink{
        left:90;
        width: 80%;
        height: 50%;
        flex-shrink: 0;
        border-radius: 1.8125rem;
        background: #32DAF1;
        display:inline-block;
        vertical-align: center;
    }
    .infoText{
        margin-top:1.19rem;
        
        color: #FFF;
        font-family: 'Poppins', sans-serif;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .buttonWrapper{
        width:10%;
        text-align: center;
        /* float:left; */
        display:inline-flex;
        
    }
    .button{
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        fill: #000;
        display:block;
        text-align: center;
        
    }
    .backbutton{
        width:4.5rem;
        height:4.5rem;
        margin-left:2rem;
        margin-top:2rem;
        position:fixed; 
        /* display:inline-flex; */
        
    }
    .backarrow{
        transform: rotate(180deg);

        width: 1.8rem;
        height: 1.8rem;
        left:3.3rem;
        top:3.5rem;
        position:relative; 
        /* stroke: #030303; */
        /* position:absolute;  */
        
    }
    /* .gallery{
        width:100%;
        text-align: center;
        display:flex;
        transform: rotate(-90deg);
        
        margin-top: -300px;
    } */

    .resultImage{
        float:right;
        margin-right:30%;
        display:inline-flex;
        transform: rotate(-90deg);
        width:50%;
    }

    .row{
        display:flex;
        align-items: left;
        justify-content: space-around;
        flex-direction: row;
    }
    .innerWrapper{

        width:100%;
        text-align: center;
    }
    .fishWrapper{
        
        flex-shrink: 0;
    }
    .fishImage{
        width: 20%;
        /* height: 47.875rem; */
        display:inline-flex;
        z-index: -1;
    }
    .alliImage{
        width: 23%;
        flex-shrink: 0;
        display:inline-flex;
        margin-top:60px;
        z-index: -1;
    }
    .dogImage{
        width: 20%;
        flex-shrink: 0; 
        display:inline-flex;
        z-index:10;
    }
}